[% INCLUDE 'header.tt' %]

<form method="post" action="[% c.uri_for_action('/login/login') %]">
	<label>Usuário <input name="username" /></label>
	<label>Domínio <select name="dominio">

	[% FOREACH dom IN c.model('LDAP').buscar_dominios_auth -%]
		<option value="[% dom.dn %]">[% dom.get_value('o') %]</option>
	[% END -%]
                </select></label>
	<label>Senha <input name="Password" type="Password"></label>
	<input type="submit" value="Entrar" />
</form>

[% INCLUDE 'footer.tt' %]