<div id='nav'>
	<ul>
		<li>
			<a href="[% c.uri_for_action('/conta/index') %]">Minha Conta</a>
		</li>
		
		[% IF c.model('LDAP').is_operador(c.user) -%]
 		<li>
 			<a href="[% c.uri_for_action('/admin/index') %]">Gerir contas</a>
 		</li>
		[% END -%]

	 	<li>
	 		<a href="[% c.uri_for_action('/logout') %]">Sair</a>
	 	</li>
	</ul>
</div>

